body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  background: #111;
  color: #fff;
  text-align: center;
}

.app {
  padding: 40px;
}

.flow-list button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background: #333;
  color: #fff;
}

.flow-list button:hover {
  background: #555;
}
